# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Python
# ======================
__pycache__/
*.py[cod]

# ======================
# OS / Editor
# ======================
.DS_Store
.vscode/
.idea/

# ======================
# Data (DO NOT COMMIT)
# ======================
data/coco/
data/processed_step2/

# ======================
# Models / outputs
# ======================
*.pt
*.pth
*.npy
*.npz
